<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title></title>
  <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
<div id="app"></div>
<script src="/static/charting_library.min.js"></script>
<script>

  // var ic = new smartCaptcha({
  //      renderTo: '#sc',
  //      width: 300,
  //      height: 42,
  //      default_txt: '点击按钮开始智能验证',
  //      success_txt: '验证成功',
  //      fail_txt: '验证失败，请在此点击按钮刷新',
  //      scaning_txt: '智能检测中',
  //      success: function(data) {
  //        localStorage.setItem("verTical","1");
  //        //页面初始化让verTical为0，防止刷新页面
  //        console.log(data.sessionId);
  //        console.log(data.sig);
  //      },
  //    });

  //  ic.init();



  //  document.getElementById("sc").remove();

  // var ic2 = new smartCaptcha({
  //      renderTo: '#sc2',
  //      width: 300,
  //      height: 42,
  //      default_txt: '点击按钮开始智能验证',
  //      success_txt: '验证成功',
  //      fail_txt: '验证失败，请在此点击按钮刷新',
  //      scaning_txt: '智能检测中',
  //      success: function(data) {
  //        localStorage.setItem("verTical","1");
  //        //页面初始化让verTical为0，防止刷新页面
  //        console.log(data.sessionId);
  //        console.log(data.sig);
  //      },
  //    });

  //  ic2.init();

  //  document.getElementById("sc2").remove();

  // document.appendChild("<div></div>");
  //  $("body").append("<div id='sc'></div>");
  //  $(function(){
  //    console.log(111)
  //    $("<div>",{id:"sc"}).appendTo($("body"));
  //        console.log(22)
  //    ic.init();
  //  })




</script>
</body>

</html>
